body {font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/about2.jpg");
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-image:url("../images/about1.jpg");
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 65%;
  height: 60%;
  position:relative;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#main{
    position: absolute;
    top:30%;
    left:25%;
}

#sub{
    position: absolute;
    left:20%;
}

button{
    border-radius: 50%;
    padding: 14px 40px;
    font-size:large;
    background-color: black;
    color:white;
}

#heading{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-style: italic;
    text-align: center;
}

#info{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:14px;
}