.wordart {
  font-family: Arial, sans-serif;
  font-size: 4em;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 50px;;
}

.wordart.blues .text {
  font-family: Impact, sans-serif;
  color: #185a11;
  -webkit-text-stroke: 0.01em #b2b2d6;
  filter: progid:DXImageTransform.Microsoft.Glow(Color=#9e9eb4,Strength=1);
  text-shadow: 0.13em -0.09em 0px #020224;
  letter-spacing: -0.05em;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  
  .page-content{
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }
  
  body {
    background : url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQS8cZLsl9NsOGnDkbAT48xW8W5mP0wL3IR2S6t18zgPWarRhnn") no-repeat center fixed;
    /* background-repeat: repeat-y;  */
    background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
  }
  
  #main a:hover{
    background-color: chartreuse;
    color:black;

  }

  #login a:hover{
    background-color: chartreuse;
    color:black;
  }

  #main a:active{
    background-color: black;
    color: blanchedalmond;
  }

  #login a:active{
    background-color: blue;
    color: blanchedalmond;
  }

  #heading{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bolder;
    text-shadow: 2px 2px 8px blue;
    font-size:54px;
  }

  #footer{
    background-color:black;
    position:relative;
    bottom:-50px;
    width:1000px;
    height:190px;
  }

  #footer1{
    text-align: center;
    color:whitesmoke;
  }

  #footer.active{
    width: 1265px;
  }

  form.find input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.find button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.find button:hover {
    background: #0b7dda;
  }
  
  form.find::after {
    content: "";
    clear: both;
    display: table;
  }

  #heading1{
      font-family:'Cookie',cursive;
      font-size:24px;
      color:black;
      font-weight: bolder;
      text-shadow: 2px 2px 8px blue;
  }

  form.find1 input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    background: #f1f1f1;
  }

  form.find1 button {
    float: none;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  form.find1 button:hover {
    background: #0b7dda;
  }

  form.find1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 20px;
  }

  form.find1 textarea{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    background: #f1f1f1;
  }  

  i{
    cursor: pointer;
  }