.wordart {
  font-family: Arial, sans-serif;
  font-size: 4em;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 50px;;
}

.wordart.blues .text {
    font-family: Impact, sans-serif;
    color: #24c0fd;
    -webkit-text-stroke: 0.01em #0000aa;
    filter: progid:DXImageTransform.Microsoft.Glow(Color=#0000aa,Strength=1);
    text-shadow: 0.13em -0.13em 0px #0000aa;
    letter-spacing: -0.05em;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  
  .page-content{
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }
  
  body {
    background-image: url("bg_img.jpg");
    background-repeat: repeat-y;
  }
  
  #main a:hover{
    background-color: chartreuse;
    color:black;

  }

  #login a:hover{
    background-color: chartreuse;
    color:black;
  }

  #main a:active{
    background-color: black;
    color: blanchedalmond;
  }

  #login a:active{
    background-color: blue;
    color: blanchedalmond;
  }

  #heading{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bolder;
    text-shadow: 2px 2px 8px blue;
    font-size:54px;
  }

  #table1,#table2,#table3,#table4,#table5{
    font-size:24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
  }

  #table1 td,#table2 td,#table3 td,#table4 td,#table5 td{
    padding:10px;
  }
  #caption{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
  }

  .popup {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popuptext1 {
    visibility: hidden;
    width: 600px;
    height: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    top:430px;
    left:300px;
    z-index: 1;
    }
  
  /* Popup arrow */
  .popuptext1::after {
    content: "";
    position: absolute;
    left: 100%;
    top:0%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .show1 {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1;}
  }

  .popuptext2 {
    visibility: hidden;
    width: 600px;
    height: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    top:850px;
    left:700px;
    z-index: 1;
    }

    .active1 {
      visibility: hidden;
      width: 600px;
      height: 400px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      top:850px;
      left:501px;
      z-index: 1;
      }
  
  /* Popup arrow */
  .popuptext2::after {
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .show2 {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  .popuptext3 {
    visibility: hidden;
    width: 600px;
    height: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    top:1250px;
    left:300px;
    z-index:1;
    }
  
  /* Popup arrow */
  .popuptext3::after {
    content: "";
    position: absolute;
    left: 100%;
    top:0%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .show3 {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  .popuptext4 {
    visibility: hidden;
    width: 600px;
    height: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    top:1650px;
    left:700px;
    z-index: 1;
    }

    .active2{
      visibility: hidden;
      width: 600px;
      height: 400px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      top:1650px;
      left:501px;
      z-index: 1;
      }
  
  /* Popup arrow */
  .popuptext4::after {
    content: "";
    position: absolute;
    left: 0%;
    top:0%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .show4 {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  .popuptext5 {
    visibility: hidden;
    width: 600px;
    height: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    top:2050px;
    left:300px;
    z-index: 1;  
  }
  
  /* Popup arrow */
  .popuptext5::after {
    content: "";
    position: absolute;
    left: 100%;
    top:0%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .show5 {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  #footer{
    background-color:black;
    text-align: center;
    color:whitesmoke;
    width:100%;
    height:170px;
  }